<ion-view view-title="About">
    <ion-content>
    	<h3>About The Application</h3>
    		<p>Version: 0.1.0.0</p> 
		<h3>About The Author</h3>
			<p>
				{{about.author}}<br/>
				{{about.company}} {{about.department}}<br/>
				{{about.phone}}<br/>
				{{about.email}}<br/>
				{{about.address1}} {{about.address2}}<br/>
				{{about.city}}, {{about.state}}  {{about.zip}}<br/>
		<h3>Credits</h3>
		<p>
			Emotion Smileys: <a href="http://www.freepik.com/free-photos-vectors/design">Design vector designed by Freepik</a>
		</p>
    </ion-content>
</ion-view>