<ion-view view-title={{title}}>
	<ion-content padding="true">
		<label class="item action-date">
			{{myAction.displayDate}}
		</label>
		<label class="item item-input item-select">
			<div class="input-label">
				Action
			</div>
			<select ng-model="myAction.name" ng-options="action.name as action.name for action in actionTypeList" ng-selected={{myAction.name}}>
				<option value="">{{action.name}}</option>
			</select>
		</label>		
		<label class="item range">
			<span class="label urge-label">Urge</span>
			<input class="urge-slider" type="range" name="urge" ng-model="myAction.urge" min="0" max="5" step="1" value={{myAction.urge}}></input>
			<span class="label urge-value">{{myAction.urge}}</span>
		</label>
		<ion-checkbox class="checkbox-balanced item-checkbox-right" ng-model="myAction.actedOn" checked={{myAction.actedOn}}>
    		Acted On Urge
    	</ion-checkbox>
		<label class="item item-input item-select">
			<div class="input-label">
				Coping Skills Used
			</div>
			<select ng-model="myAction.skillRating" ng-options="skill.name as skill.name for skill in skillRatings" ng-selected={{myAction.skillRating}}>
				<option value="">{{skill.name}}</option>
			</select>
		</label>
		<label class="item item-input item-text-wrap">
			<input type="text" placeholder="Notes" ng-model="myAction.notes">
		</label>
	</ion-content>
	<div class="button float-button" ng-click="saveAction()">
		<span class="height-fix">
			<a class="content">
			<i class="ion-checkmark-circled"> </i>
			</a>
		</span>
	</div>
</ion-view>