<ion-view view-title="Coping Skills">
    <ion-content>
    	<ion-list>
    		<div ng-repeat="category in copingSkills">
    			<ion-item class="item-stable" ng-click="toggleCategory(category)" ng-class="{active: isCategoryShown(category)}">
    				<i class="icon" ng-class="isCategoryShown(category) ? 'ion-minus' : 'ion-plus'"></i>
    				{{category.name}}
    			</ion-item>
    			<ion-item class="item-accordion" ng-repeat="skill in category.skills" ng-show="isCategoryShown(category)">
    				{{skill.name}}
    			</ion-item>
    		</div>
  		</ion-list>
    </ion-content>
</ion-view>