<ion-view view-title="Emotions">
    <ion-content>
		<div class="row" ng-repeat="emotionTuple in emotionTuples">
			<div class="col text-center" ng-repeat="emotion in emotionTuple">				
				<img class="emotion-img" src="{{emotion.src}}">
				<p>{{emotion.name}}</p>
				<label class="range range-balanced">
					<input type="range" min="0" max="5" step="1" value=0></input>
				</label>				
			</div>
		</div>
    </ion-content>
    <div class="button float-button" ng-click="saveAction()">
		<span class="height-fix">
			<a class="content">
			<i class="ion-checkmark-circled"> </i>
			</a>
		</span>
	</div>
</ion-view>