<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Tracker Tab -->
  <ion-tab title="Today" icon-off="ion-edit" icon-on="ion-edit" href="#/tab/today">
    <ion-nav-view name="tab-today"></ion-nav-view>
  </ion-tab>

  <!-- Diary Tab -->
  <ion-tab title="Diary" icon-off="ion-calendar" icon-on="ion-calendar" href="#/tab/diary">
    <ion-nav-view name="tab-diary"></ion-nav-view>
  </ion-tab>

  <!-- Settings Tab -->
  <ion-tab title="About" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>


</ion-tabs>
